# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Environment variables — NEVER commit this
.env

# ML model — large binary, optional to exclude
ml_models/*.joblib

# Tailwind CLI — don't commit the exe
tailwindcss.exe

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini